@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  }
  header nav {
    max-width: 72rem;
    width: 100%;
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .logo {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 4rem;
  }
  header nav .logo span {
    font-weight: 300;
  }
  header nav .hamberger_menu {
    cursor: pointer;
    height: 4rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav .hamberger_menu .bar {
    height: 1.5px;
    width: 1.9rem;
    border-radius: 2px;
    background-color: black;
  }
}
