$break_point_320: 320px;
$break_point_414: 414px;
$break_point_min: 980px;
$break_point_max: 735px;
$break_point_pc: 1000px;

$break_point_1440: 1240px;

$content_width: 1340px;
$content_padding: 20px;
$content_padding_sp: 15px;

$content_width_sp_inner: 76%;
